<!DOCTYPE html>
<html>
<head>
  <title>Search</title>
</head>
<body>
  <p><form method='get' action='/search/'>
    <label for='id_q'>Search:</label>
    <input type='text' name='q' id='id_q' value={{query}}>
    <input type='submit' value='Search'></p>
  </form>

{% if keyword_results or results %}
  <p>You searched for "{{query}}".</p>
  {% if keyword_results %}
    <p>Recommended Pages:</p>
    <ul>
      {% for page in keyword_results %}
      <li> <a href="{{page.get_absolute_url}}">{{page.title}}</a> </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if results %}
    <p>Search Results:</p>
    <ul>
      {% for page in results %}
      <li> <a href="{{page.get_absolute_url}}">{{page.title}}</a> </li>
      {% endfor %}
    </ul>
  {% endif %}
{% else %}
  {% if query and not keyword_results and not results %}
    <p>No results found.</p>
  {% else %}
    <p>Type a search query into the box above and hit "Search"</p>
  {% endif %}
{% endif %}

</body>
</html>
